body {
  font-size: 16px;
  color: #000;
  background-color: #E6B52E;
  font-family: 'Lora', sans-serif;
}

#header-nav {
  background-color: #E2AB10;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 20px 8px #222;
  margin-bottom: 0;
}

.navbar-brand h1 {
  margin-top: -10px;
  text-align: center;
  color: #222;
}

#collapsable-nav {
  border: 0;
  padding-top: 20px;
}

.navbar-header {
  padding: 20px 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav a {
  padding: 8px 10px;
  margin: 8px 15px 0 15px;
  border: 1px solid #E2AB10;
  border-radius: 9px;
}

#collapsable-nav a:hover, #collapsable-nav a:focus {
  text-decoration: none;
  box-shadow: 0px 0px 20px 2px #eee;
}

.snippet-title {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}

.jumbotron {
  width: 100%;
  padding: 0;
  border: none;
  background-color: inherit;
}

.jumbotron img {
  margin: auto;
  width: 800px;
}

#nav-list {
  margin: 0;
}

#nav-list li {
  text-align: center;
}

.panel-footer {
  background-color: #333;
}

#main-content {
  border: none;
}

#home-snippet {
  background: url("../images/SanEduardo2_web.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
  height: 600px;
}

#misas-snippet {
  background-color: #AB75DB;
}

#homilias-snippet {
  background-color: #9EBF36;
}

#capillas-snippet {
  background-color: #E7B682;
}

#sacramentos-snippet {
  background-color: #ddd;
}

.misas-title {
  font-size: 1.1em;
  font-style: oblique;
  border-bottom: 1px black solid;
}

#misas-tipo {
  padding-top: 8px;
}

.row {
  width: 100%;
  align-content: center;
  margin: 0;
}

.tile {
  height: 220px;
  border: 1px solid black;
  margin-bottom: 15px;
}

footer {
  border: none;
  border-radius: 0;
}

footer span {
  font-size: 1.2em;
}

footer section {
  color: #CCC;
}

section hr {
  border-top: 1px solid #666;
}

.textshadow {
    text-shadow: 3px 2px 10px rgba(76,46,255,0.74);
}

#lema {
  font-size: 2.5em;
  margin-top: 50px;
}

#padres {
  margin: 15px;
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  margin-top: 150px;
}

#redoracion {
  font-size: 1.4em;
  /* margin-top: 200px; */
}

.hrblack {
  border-top: 1px solid black;
}

#horarios p {
  margin-top: 9px;
  line-height: 1.9;
}

section {
  margin: 0;
}

section p {
  font-size: 0.9em;
}

#contacto a, #redoracion a {
    color: #ccc;
    text-decoration: none;
}

#contacto a:hover, #contacto a:focus,
#redoracion a:hover, #redoracion a:focus {
    color: #e6b319;
    font-weight: bold;
    text-decoration: none;
}

#contacto a:visited, #contacto a:visited {
  text-decoration: none;
}

#homilia-audio {
  margin-bottom: 20px;
}

.capilla-nombre {
  font-size: 1.5em;
}

.capilla-imagen {
    max-width: 400px;
  }

/********** Large devices only **********/
@media (min-width: 1200px) {
  .jumbotron img {
    width: 720px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron img {
    width: 720px;
  }
  #collapsable-nav a {
    margin-bottom: 20px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  section  {
    text-align: center;
  }
  .jumbotron img {
    width: 680px;
  }
  .navbar-brand h1 {
    font-size: 1.8em;
  }
  #collapsable-nav a {
    margin-bottom: 20px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  section {
    text-align: center;
  }
  .jumbotron img {
    min-width: 200px;
  }
  .navbar-brand h1 {
    font-size: 1.8em;
    margin-top: -8px;
  }
  #nav-list #navHomeButton {
    border-top: 1px solid black;
  }
  #nav-list li {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
  }
  .mapa {
    width: 300px;
    height: 225px;
  }
  .capilla-imagen {
    margin-top: 15px;
  }
  #homilia-audio {
    margin-bottom: 0px;
  }
  #lema {
    font-size: 1.7em;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 450px) {
  .navbar-brand {
    height: 45px;
  }
  .navbar-brand h1 {
    margin-top: 5px;
    max-width: 340px;
    word-break: normal;
  }
  #contacto #email {
    margin-left: -20px;
  }
  #contacto a {
    color: #CCC;
    text-decoration: underline;
  }
  #mapa {
    width: 300px;
    height: 225px;
  }
  #homilia-audio {
    margin-bottom: 0px;
  }
  #lema {
    font-size: 2em;
    margin-top: 125px;
  }
  #padres {
    font-size: 1.2em;
    margin-top: 180px;
    color: #eee;
  }
  #redoracion {
    /* margin-top: 110px; */
  }
}
