body {
  font-size: 16px;
  color: #000;
  background-color: #82E5E7;  /* #f2d98c; */
  font-family: 'Lora', sans-serif;
}

#header-nav {
  background-color: #82B2E7; /* #e6b319; */
  border: none;
  border-radius: 0;
}

.navbar-brand h1 {
  margin-top: -10px;
  text-align: center;
  color: #222;
}

#collapsable-nav {
  border: 0px;
  padding-top: 20px;
}

.navbar-header {
  /* height: 80px; */
  padding: 20px 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #222;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#collapsable-nav a:hover, #collapsable-nav a:focus {
  text-decoration: none;
}

.jumbotron {
  width: 100%;
  padding: 0;
  border: none;
  background-color: inherit;
}

.jumbotron img {
  margin: auto;
  width: 800px;
}

#nav-list {
  margin: 0;
}

#nav-list li {
  text-align: center;
}

.panel-footer {
  background-color: #333;
}

#main-content {
  border: none;
}

.misas-title {
  font-size: 1.1em;
  font-style: oblique;
  border-bottom: 1px black solid;
}

#misas-tipo {
  padding-top: 5px;
}

#homilia-tiempo a:hover, #contacto a:focus {
    color: ##333;
    font-weight: bold;
    text-decoration: none;
}

#foto {
  margin: 10px;
}

.row {
  width: 100%;
  align-content: center;
  margin: 0;
}

.tile {
  height: 220px;
  border: 1px solid black;
  margin-bottom: 15px;
}

footer {
  border: none;
  border-radius: 0;
}

footer span {
  font-size: 1.2em;
}

footer section {
  color: #CCC;
}

section hr {
  border-top: 1px solid #666;
}

#horario hr, #homilia-tiempo hr {
  border-top: 1px solid black;
}

#horarios p {
  margin-top: 9px;
  line-height: 1.9;
}

section {
  margin: 0;
}

section p {
  font-size: 0.9em;
}

#contacto a {
    color: #CCC;
    text-decoration: none;
}

#contacto a:hover, #contacto a:focus {
    color: #e6b319;
    text-decoration: none;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .jumbotron img {
    width: 720px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .jumbotron img {
    width: 720px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  section  {
    text-align: center;
  }
  .jumbotron img {
    width: 680px;
  }
  .navbar-brand h1 {
    font-size: 1.8em;
  }
  #homilia-audio {
    text-align: inherit;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  section {
    text-align: center;
  }
  .jumbotron img {
    min-width: 200px;
  }
  .navbar-brand h1 {
    font-size: 1.8em;
    margin-top: -8px;
  }
  #nav-list #navHomeButton {
    border-top: 1px solid black;
  }
  #nav-list li {
    border-bottom: 1px solid black;
  }
  #mapa {
    width: 300px;
    height: 225px;
  }
  #homilia-audio {
    text-align: inherit;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 450px) {
  .navbar-brand {
    height: 45px;

  }
  .navbar-brand h1 {
    /* font-size: 1.2em; */
    margin-top: 5px;
    max-width: 340px;
    word-break: normal;
  }
  #contacto #email {
    margin-left: -20px;
  }
  #contacto a {
    color: #CCC;
    text-decoration: underline;
  }
  #mapa {
    width: 300px;
    height: 225px;
  }
  /* #header-nav {
    min-width: 370px;
  } */
}
