<h2 align="center">Audio de Homilías</h2>
<div align="middle" class="container">
<!-- 	<div class="row" ng-repeat="homilia in homilias.list.dominicales">
 -->
<div class="row"></div>
	<div id="homilia-audio" class="col-md-4 col-sm-12" ng-repeat="homilia in homilias.list.dominicales">
		<hr class="visible-sm visible-xs">
		<div>
			<span>
				<a target="_blank" href="{{ homilia.audio }}">
		          	<i class="glyphicon glyphicon-headphones"></i>
					 &nbsp; {{ homilia.descripcion }}
				</a>
			</span>
		</div>
		<div id="homilia-descripcion">
			<em>
				Tiempo {{ homilia.tiempo }}
			</em>
		</div>
		<div id="homilia-fecha">
			({{ homilia.fecha}})
		</div>
	</div>

<!-- 		<div id="homilia-tiempo" class="col-md-4 col-sm-12">
			<hr class="visible-sm visible-xs">
			<div id="homilia-audio" align="left">
				<span>
					<a target="_blank" href="{{ homilia.audio }}">
			          	<i class="glyphicon glyphicon-headphones"></i>
						 &nbsp; {{ homilia.descripcion }}
					</a>
				</span>
			</div>
		</div>
		<div id="homilia-descripcion" class="col-md-4 col-sm-12">
			Tiempo {{ homilia.tiempo }}
		</div>
		<div id="homilia-fecha" class="col-md-4 col-sm-12">
			({{ homilia.fecha}})
		</div>
 -->
</div>
<div>&nbsp;</div>
