<div id="misas-snippet">
	<h2 class="snippet-title">Horarios de Misas y Celebraciones</h2>

 	<div align="center" style="margin-top: 25px;">
		<img src="images/Protocolo Misas 2020.jpg" width="640px" class="img-responsive" />
	</div>

 	<div align="center" style="margin: 25px 150px; text-align: inherit; padding: 25px 20px; border: 1px solid #888;">
		Prensa Obispado Bariloche (prensaobispadobche@gmail.com)<br><br>

		Nos ponemos en contacto con Uds. para acercarles las propuestas para la Fiesta de la Virgen de Las Nieves, a realizarse el fin de semana del 14 y 15 de noviembre.  Por el momento sólo podemos brindar estos detalles. Cuando haya información más definida sobre las actividades se dará más información. Agradecemos la difusión, a fin de evitar aglomeraciones en la gruta de la Virgen.<br><br>

		Cambio de fecha: Primeramente, contarles que debido a que el último fin de semana de octubre es desde hace algunos años el mismo elegido para realizar elecciones, lo cual acarrea cambios de fecha y dificultades en la organización de la peregrinación, la Iglesia Diocesana ha elegido fijar como fecha anual de aquí en adelante el segundo fin de semana de noviembre. Esta fecha comenzaría a tomarse en cuenta desde éste año 2020.<br><br>

		Debido a los cuidados propios de este tiempo de pandemia, las actividades a realizar en el marco de la Fiesta de la Virgen de las Nieves serán las siguientes:<br><br>

		1) Día sábado 14: La virgen sale al encuentro de sus hijos. Este año la Virgen es quien peregrina, es Ella quien nos visita.<br><br>

		Salida al mediodía en camioneta, con la Virgen, desde la gruta para recorrer durante la tarde las calles de los barrios de nuestra ciudad.  La Virgen irá pasando para que sus hijos puedan saludarla desde sus casas. Se dará más información cuando esté definido el itinerario.<br><br>

		2) Día domingo 15: Misa por Canal 6 / Radio Nacional 12 horas<br><br>

		Para poder participar juntos de la oración se hará la transmisión de la misa, por el canal de aire de nuestra ciudad y, como todos los domingos, por Radio Nacional para llegar a las localidades vecinas.<br><br>

		3) Otras actividades del fin de semana con iniciativas on-line de comunidades y áreas pastorales a ser transmitidas y compartidas por las páginas de Facebook: Peregrinación a la Virgen de las Nieves o Diócesis de San Carlos de Bariloche y redes sociales de las diferentes Parroquias.<br><br>

		En todo momento y por todas las redes se insistirá en que éste año la peregrinación será virtual. Para cuidar al hermano NO peregrinaremos  todos juntos para evitar los amontonamientos ni poner en riesgo la salud de nadie.<br><br>

		¡Agradecemos la difusión!
	</div>

	<div style="text-align: -webkit-center; padding: 25px 10px;">
		Las Misas de Domingo 11 hs se seguirán transmitiendo en vivo en el canal de Youtube de la Parroquia.<br>
		Los videos quedan disponibles y el audio de las homilías se continúa publicando en este sitio.
		<!-- <img src="images/Misa Domingo 21 Junio 2020.jpg" class="img-responsive" style="width: 800px;" /> -->
	</div>

 	<h3 align="center">{{misas.list.semanales.intervalo}}</h3>

	<div id="misas-content" align="middle" class="container">
	 	<div id="misas-tipo" ng-repeat="misaTipo in misas.list.semanales.tipos">
			<div>
				<hr>
			</div>
			<div id="dia" class="col-md-4 col-sm-12 visible-sm visible-xs diaTipo">
				{{misaTipo.dias}}
			</div>
			<div class="row misas-detail" ng-repeat="misa in misaTipo.misas">
				<div id="dia-hora" class="col-md-3 col-sm-12 visible-lg visible-md">
					{{misaTipo.dias}} a las {{ misa.hora }} hs
				</div>
				<div id="capilla" class="col-md-3 col-sm-12">
					<span class="visible-sm visible-xs">
						Capilla&nbsp;{{ misa.capilla }}
					</span>
					<span class="visible-md visible-lg">
						{{ misa.capilla }}
					</span>
				</div>
				<div id="horario" class="col-md-3 col-sm-12 visible-sm visible-xs">
					{{ misa.hora }} hs
				</div>
				<div id="padre" class="col-md-3 col-sm-12">
					<span class="visible-sm visible-xs">
						{{ misa.cupo}} personas
					</span>
					<span class="visible-md visible-lg">
						Hasta&nbsp;{{ misa.cupo}} personas
					</span>
				</div>
				<div id="padre" class="col-md-3 col-sm-12">
					<span class="visible-sm visible-xs">
						Padre&nbsp;{{ misa.sacerdote}}
					</span>
					<span class="visible-md visible-lg">
						{{ misa.sacerdote}}
					</span>
				</div>
			</div>
		</div>
	</div>
	<div>&nbsp;</div>
</div>