<div id="misas-snippet">
	<h2 class="snippet-title">Horarios de Misas y Celebraciones</h2>

<!-- 	<div align="center">
		<img src="images/AnioNuevo2020.jpg" width="640px" class="img-responsive" />
	</div>
 -->
	<div style="text-align: -webkit-center;">
		<img src="images/Misa Domingo 26 Abril 2020.jpg" class="img-responsive" style="width: 800px;" />
	</div>

<!-- 	<h3 align="center">{{misas.list.semanales.intervalo}}</h3>

	<div id="misas-content" align="middle" class="container">
	 	<div id="misas-tipo" ng-repeat="misaTipo in misas.list.semanales.tipos">
			<div>
				<hr>
			</div>
			<div id="dia" class="col-md-4 col-sm-12 visible-sm visible-xs diaTipo">
				{{misaTipo.dias}}
			</div>
			<div class="row misas-detail" ng-repeat="misa in misaTipo.misas">
				<div id="dia-hora" class="col-md-4 col-sm-12 visible-lg visible-md">
					{{misaTipo.dias}} a las {{ misa.hora }} hs
				</div>
				<div id="capilla" class="col-md-4 col-sm-12">
					<span class="visible-sm visible-xs">
						Capilla&nbsp;{{ misa.capilla }}
					</span>
					<span class="visible-md visible-lg">
						{{ misa.capilla }}
					</span>
				</div>
				<div id="horario" class="col-md-4 col-sm-12 visible-sm visible-xs">
					{{ misa.hora }} hs
				</div>
				<div id="padre" class="col-md-4 col-sm-12">
					<span class="visible-sm visible-xs">
						Padre&nbsp;{{ misa.sacerdote}}
					</span>
					<span class="visible-md visible-lg">
						{{ misa.sacerdote}}
					</span>
				</div>
			</div>
		</div>
	</div>
 -->	<div>&nbsp;</div>
</div>