<h5 style="margin-left: 20px;">{{ choicesCount}}</h5>
<div class="loader">
  <div class="container">
    <div class="row" ng-repeat="item in items">
      <div class="col-lg-3">
        {{ item.name }} ({{ item.short_name}})
      </div>
      <div class="col-lg-7">
        {{ item.description}}
      </div>
      <div class="col-lg-2">
        <button type="button" name="button" ng-click="onRemove({index: $index});">Don't want this one!</button>
      </div>
    </div>
  </div>
  <div class="empty">
    Nothing found
  </div>
</div>
